/* Estilos Silvana M.S*/

body {
    font-family: 'Courier New', monospace;
    background-color:fc0a2f;
    color: #ffffff;
    text-align: center;
    margin: 0;
    padding: 0;
}

header {
    background: linear-gradient(#ef2f3b, #9348e8, #e848e6);
    color: #ef2f3b;
    padding: 20px;
    font-size: 24px;
    text-transform: uppercase;
    text-shadow: 0 0 5px #fff, 0 0 10px #0ff;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 10px;
}

nav ul li a {
    text-decoration: none;
    color: #ef2fe3;
    font-weight: bold;
    font-size: 18px;
    text-shadow: 0 0 5px #ff00ff, 0 0 10px #ff00ff;
}

main {
    padding: 20px;
    border: 2px solid #0ff;
    box-shadow: 0 0 10px #0ff;
    background: rgba(0, 0, 0, 0.8);
    margin: 20px;
}

footer {
    background-color: #111;
    color: #0ff;
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
    text-shadow: 0 0 5px #0ff;
} 